<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic" rel="stylesheet">
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="stylesheet" href="../lib/fontawesome/css/all.min.css">
    <link rel="shortcut icon" href="../img/logo.png">
    <title>World Pizza</title>
</head>
<body>
    <!--BOTON ARRIBA-->
    <div id="btn-top">
        <span class="fas fa-angle-up"></span>
    </div>

    <!--menu principal-->
    <div class="menu-principal">
        <div class="logo" id="logo">
            <img src="../img/logo.png" alt="logo">
        </div>

        <div class="menu-bar" id="menuBar">
            <!--icono superior menu responsive (>)-->
            <i class="fas fa-angle-right" id="closeMenu"></i>

            <nav class="enlaces" id="enlaces">
                <ul>
                    <!--Enlaces en la misma pagina(funciona con id de cada parte)-->
                    <li><a href="#servicios">Servicios</a></li>
                    <li><a href="#equipo">Equipo</a></li>
                    <li><a href="#contacto">Contacto</a></li>
                </ul>
            </nav>

            <div class="sociales">
                <a href=""><span class="fab fa-facebook"></span></a>
                <a href=""><span class="fab fa-instagram"></span></a>
                <a href=""><span class="fab fa-twitter"></span></a>
                <a href=""><span class="fab fa-youtube"></span></a>
            </div>
        </div>
        <!--Icono menu en responsive-->
        <i class="fas fa-bars" id="openMenu"></i>

    </div>

    <!--Slider productos-->
    <section id="menu-productos">
        <div class="contenedor-principal">

            <button id="btn-izquierdo"><span class="fas fa-angle-left"></span></button>

            <div class="slider">
                <div class="contenedor-productos">
                    <div class="descripcion-productos">
                        <h2>Producto <b>premium</b></h2>
                        <h1>Peperonni</h1>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam minima sed, dolorem error tenetur fugiat ut, ducimus
                        sapiente autem?</p>
                        <button class="btn">¡Solicítela aquí! <span class="fas fa-angle-right"></span></button>
                    </div>

                    <div class="imagen-productos">
                        <img src="../img/menu/peperoni.png" alt="">
                    </div>
                </div>

                <div class="contenedor-productos">
                    <div class="descripcion-productos">
                        <h2>Producto <b>premium</b></h2>
                        <h1>Especial</h1>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam minima sed, dolorem error tenetur fugiat ut, ducimus
                        sapiente autem?</p>
                        <button class="btn">¡Solicítela aquí! <span class="fas fa-angle-right"></span></button>
                    </div>

                    <div class="imagen-productos">
                        <img src="../img/menu/especial.png" alt="">
                    </div>
                </div>

                <div class="contenedor-productos">
                    <div class="descripcion-productos">
                        <h2>Producto <b>básico</b></h2>
                        <h1>Margarita</h1>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam minima sed, dolorem error tenetur fugiat ut, ducimus
                        sapiente autem?</p>
                        <button class="btn">¡Solicítela aquí! <span class="fas fa-angle-right"></span></button>
                    </div>

                    <div class="imagen-productos">
                        <img src="../img/menu/margarita.png" alt="">
                    </div>
                </div>

                <div class="contenedor-productos">
                    <div class="descripcion-productos">
                        <h2>Producto <b>premium</b></h2>
                        <h1>Americana</h1>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam minima sed, dolorem error tenetur fugiat ut, ducimus
                        sapiente autem?</p>
                        <button class="btn">¡Solicítela aquí! <span class="fas fa-angle-right"></span></button>
                    </div>

                    <div class="imagen-productos">
                        <img src="../img/menu/americana.png" alt="">
                    </div>
                </div>

                <div class="contenedor-productos">
                    <div class="descripcion-productos">
                        <h2>Producto <b>especial</b></h2>
                        <h1>Suprema</h1>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam minima sed, dolorem error tenetur fugiat ut, ducimus
                        sapiente autem?</p>
                        <button class="btn">¡Solicítela aquí! <span class="fas fa-angle-right"></span></button>
                    </div>

                    <div class="imagen-productos">
                        <img src="../img/menu/suprema.png" alt="">
                    </div>
                </div>
            </div>

            <button id="btn-derecho"><span class="fas fa-angle-right"></span></button>
        </div>
    </section>

    <!--Seccion servicios-->
    <section id="servicios">

        <div class="servicios-titulos">
            <h2 class="subtitulos">La mejor pizza del mundo</h2>
            <h1 class="titulos">Bienvenidos a World Pizza</h1>
        </div>

    <div class="contenedor-servicios">
        <div class="imagen-central">
            <img src="../img/mitad-mitad.png" alt="">
        </div>

            <div class="items calidad">
                <p><span class="fas fa-pizza-slice"></span></p>
                <p class="titulo-item">Calidad</p>
                <p class="texto-item">Lorem ipsum dolor sit amet consectetur adipisicing elit adipisicing elit.</p>
            </div>
            <div class="items ingredientes">
                <p><span class="fas fa-cheese"></span></p>
                <p class="titulo-item">Ingredientes</p>
                <p class="texto-item">Lorem ipsum dolor sit amet consectetur adipisicing elit adipisicing elit.</p>
            </div>
            <div class="items rapidez">
                <p><span class="fas fa-clock"></span></p>
                <p class="titulo-item">Rápidez</p>
                <p class="texto-item">Lorem ipsum dolor sit amet consectetur adipisicing elit adipisicing elit.</p>
            </div>
            <div class="items delivery">
                <p><span class="fas fa-shipping-fast"></span></p>
                <p class="titulo-item">Delivery</p>
                <p class="texto-item">Lorem ipsum dolor sit amet consectetur adipisicing elit adipisicing elit.</p>
            </div>

        </div>

    </section>

    <!--SECCION EQUIPO-->
    <section id="equipo">
        <div class="persona">
            <img src="../img/perfil1.png" alt="personal-img" class="persona-imagen">

            <div class="persona-info">
                <h2>Roberto López</h2>
                <p>Chef Pizzero</p>
                <div class="social-media">
                    <a href=""><span class="fab fa-facebook"></span></a>
                    <a href=""><span class="fab fa-instagram"></span></a>
                    <a href=""><span class="fab fa-linkedin-in"></span></a>
                    <a href=""><span class="fab fa-twitter"></span></a>
                </div>
            </div>
        </div>

        <div class="persona">
            <img src="../img/perfil2.png" alt="personal-img" class="persona-imagen">

            <div class="persona-info">
                <h2>Eliza Robles</h2>
                <p>Chef</p>
                <div class="social-media">
                    <a href=""><span class="fab fa-facebook"></span></a>
                    <a href=""><span class="fab fa-instagram"></span></a>
                    <a href=""><span class="fab fa-linkedin-in"></span></a>
                    <a href=""><span class="fab fa-twitter"></span></a>
                </div>
            </div>
        </div>

        <div class="persona">
            <img src="../img/perfil3.png" alt="personal-img" class="persona-imagen">

            <div class="persona-info">
                <h2>Olger Borns</h2>
                <p>Asistente Chef</p>
                <div class="social-media">
                    <a href=""><span class="fab fa-facebook"></span></a>
                    <a href=""><span class="fab fa-instagram"></span></a>
                    <a href=""><span class="fab fa-linkedin-in"></span></a>
                    <a href=""><span class="fab fa-twitter"></span></a>
                </div>
            </div>
        </div>

        <div class="persona">
            <img src="../img/perfil4.png" alt="personal-img" class="persona-imagen">

            <div class="persona-info">
                <h2>Paulina Vega</h2>
                <p>Asistente</p>
                <div class="social-media">
                    <a href=""><span class="fab fa-facebook"></span></a>
                    <a href=""><span class="fab fa-instagram"></span></a>
                    <a href=""><span class="fab fa-linkedin-in"></span></a>
                    <a href=""><span class="fab fa-twitter"></span></a>
                </div>
            </div>
        </div>
    </section>

    <!--SECCION INGREDIENTES-->
    <section id="ingredientes">
        <div class="ingrediente">
            <img src="../img/ingredientes1.jpg" alt="" class="imagen-ingrediente">
            <div class="info-ingrediente">
                <p><span class="fas fa-cheese"></span></p>
                <p class="txt-ingrediente">Quesos</p>
            </div>
        </div>

        <div class="ingrediente">
            <img src="../img/ingredientes2.jpg" alt="" class="imagen-ingrediente">
            <div class="info-ingrediente">
                <p><span class="fas fa-leaf"></span></p>
                <p class="txt-ingrediente">Vegetales</p>
            </div>
        </div>

        <div class="ingrediente">
            <img src="../img/ingredientes3.jpg" alt="" class="imagen-ingrediente">
            <div class="info-ingrediente">
                <p><span class="fas fa-fill-drip"></span></p>
                <p class="txt-ingrediente">Salsas</p>
            </div>
        </div>

        <div class="ingrediente">
            <img src="../img/ingredientes4.jpg" alt="" class="imagen-ingrediente">
            <div class="info-ingrediente">
                <p><span class="fas fa-drumstick-bite"></span></p>
                <p class="txt-ingrediente">Carne</p>
            </div>
        </div>
    </section>

    <!--SECCION CONTACTO-->
    <section id="contacto">
        <div class="titulo-contacto">
            <h2 class="subtitulos">Queremos conocer tu opinión</h2>
            <h1 class="titulos">Contáctanos</h1>
        </div>

    <form action="" id="formulario">
        <div class="two-fields">

            <div class="inputConIcono">
                <input type="text" name="nombre" id="nombre" class="input-nombre" placeholder="Nombre">
                <i class="fas fa-user"></i>
            </div>

            <div class="inputConIcono">
                <input type="email" name="email" id="email" class="input-email" placeholder="Email">
                <i class="fas fa-envelope"></i>
            </div>
        </div>

        <div class="fields">
            <div class="inputConIcono textareaIcono">
                <textarea name="comentarios" id="comentarios" class="textarea" placeholder="Ingrese su comentario"></textarea>
                <i class="fas fa-comments"></i>
            </div>
        </div>

        <div class="fields-btn">
            <input type="submit" value="Enviar" class="btn btn-input"> 
        </div>
    </form>
    </section>

    <!--ALERTAS-->
    <div class="alertas">
        <div id="alertError" class="alert hide">
            <span class="icono-alert fas fa-exclamation-circle"></span>
            <span class="msg">Error: todos los campos son necesarios.</span>
        </div>

        <div id="alertSuccess" class="alert hide">
            <span class="icono-alert fas fa-check-circle"></span>
            <span class="msg">¡Datos enviados! Gracias por contactarnos.</span>
        </div>
        
    </div>

    <!--SECCION FOOTER-->
    <footer>
        <div class="metodo-social">
            <i class="fas fa-map-marker-alt"></i>
            <span>Lorem ipsum dolor sit amet!</span>
        </div>

        <div class="metodo-social">
            <i class="fas fa-envelope"></i>
            <span>info@worldpizza.com</span>
        </div>

        <div class="metodo-social">
            <i class="fas fa-phone"></i>
            <span>+243267732782</span>
        </div>

        <div class="metodo-social">
            <i class="fab fa-twitter"></i>
            <span>@worldpizza</span>
        </div>
    </footer>

    <script src="../js/app.js"></script>
</body>
</html>